[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
started = "*"
python-jose = "*"
python-decouple = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
